<div id="bg" aria-hidden="true">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>
<app-header></app-header>
<section class="uk-section uk-section-small uk-height-viewport">
    <div class="uk-container">
        <div class="uk-grid" data-uk-grid>
            <div class="uk-width-1-1">
                <div class="uk-flex uk-flex-center">
                    <div class="uk-text-center uk-width-4-5">
                        <h1 class="uk-margin-large-top uk-heading-primary white-txt light-ub uk-text-italic">"SPEEKS – Improves Public Speaking"
                        </h1>
                        <h5 class="white-txt">It is an application which revolve around solving the public speaking problems and act as personal public speaking
                        analyser which detect your flaws and help you improving your public speaking/speaking skills. This will help an individual in self analysis and boost thier confidence as they practice with it and learn to be more expressive.</h5>
                        <button class="uk-button contact-btn uk-text-capitalize uk-border-rounded"
                            (click)="sendToDemo()">Start Practice
                        </button>
                    </div>
                </div>

            </div>

            <div class="uk-width-1-1 uk-text-center">
                <img width="60%" src="/assets/images/hero1.png" alt="hero_images">
                <!-- <img width="60%" src="/assets/images/Teammates 5.svg" alt="hero_images"> -->
            </div>
        </div>
    </div>
</section>